#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

